[alias]
	cfg = config --global
	a = add -A
	cm = commit
	st = status
	co = checkout
	br = branch
	fl = flow
[user]
	name = Peter Harpending
	email = peter@harpending.org
[push]
	default = matching
[merge]
	ff = yes
