[global_config]
  title_transmit_fg_color = "#5e6e5e"
  title_transmit_bg_color = "#131513"
  title_inactive_fg_color = "#5e6e5e"
  title_inactive_bg_color = "#687d68"

[profiles]
  [[default]]
    palette = "#131513:#e6193c:#29a329:#c3c322:#3d62f5:#ad2bee:#1999b3:#8ca68c:#687d68:#e6193c:#29a329:#c3c322:#3d62f5:#ad2bee:#1999b3:#f0fff0"
    foreground_color = "#5e6e5e"
    background_color = "#f0fff0"
    cursor_color = "#5e6e5e"
    allow_bold = True
    use_system_font = False
    font = Fantasque Sans Mono 14

[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[keybindings]
