[global_config]
  title_transmit_fg_color = "#f8f8f2"
  title_transmit_bg_color = "#4f4f4f"
  title_inactive_fg_color = "#f8f8f2"
  title_inactive_bg_color = "#4f4f4f"

[profiles]
  [[default]]
    palette = "#4f4f4f:#ff6c60:#fbb036:#ffffb6:#5796ed:#ff73fd:#8ee478:#eeeeee:#4f4f4f:#fa6960:#fbb036:#feffb9:#6b9fed:#fc6ffa:#8ee478:#ffffff"
    foreground_color = "#f8f8f2"
    background_color = "#2b3e50"
    cursor_color = "#f8f8f2"
    allow_bold = True
    use_system_font = False
    font = Fantasque Sans Mono 14

[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[keybindings]
