[global_config]
  title_transmit_fg_color = "#9ea7a6"
  title_transmit_bg_color = "#232c31"
  title_inactive_fg_color = "#9ea7a6"
  title_inactive_bg_color = "#3f4944"
[keybindings]
[layouts]
  [[default]]
    [[[child1]]]
      parent = window0
      profile = default
      type = Terminal
    [[[window0]]]
      parent = ""
      type = Window
[plugins]
[profiles]
  [[default]]
    allow_bold = True
    use_system_font = False
    font = Fantasque Sans Mono 14
    palette = "#2b2b2b:#da4939:#a5c261:#ffc66d:#6d9cbe:#b6b3eb:#519f50:#e6e1dc:#5a647e:#da4939:#a5c261:#ffc66d:#6d9cbe:#b6b3eb:#519f50:#f9f7f3"
    foreground_color = "#e6e1dc"
    background_color = "#2b2b2b"
    cursor_color = "#e6e1dc"